button {
background: $SecondaryColor;
  // border-radius: 30px;
  font-size: 12px;
  width: 80px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  border: 1px solid $SecondaryColor;
  margin: 8px 0;
  box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 20%);
  &:hover {
    background-color: #ffffff;
    color: $SecondaryColor;
    transition: all 0.3s ease;
  }
}