.Header {
  height: 56px;
  background-color: $PrimaryColor;
  // border-bottom: 1px solid #f0f4f9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &Button {
    margin-left: 56px;
    font-weight: 600;
    font-size: 16px;
    line-height: 56px;
    color: #fff;
    display: inline-block;
    // border: 1px solid #b7cadc;
    background-color: $PrimaryColor;
    padding: 0 8px;
    &:hover {
      color: $FontColor;
      background-color: #ffffff;
    }
  }
}

.header-button {
  margin-left: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 56px;
  color: $FontColor;
  display: inline-block;
  border: 1px solid #b7cadc;
  background-color: #FFF;
  padding: 0 8px;
  &:hover {
    color: #b7cadc;
    background-color: #ffffff;
  }
}
