.SortButton {
  display: inline-block;
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $BackColor;
    position: relative;
    // margin: 0 8px 8px 0;
    // padding: .4em 2em .4em 1.2em;
    background: none;
    // border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    color: #fff;
    margin: 2px;
  }
  .id {
    width: 66px;
  }
  .name {
    width: 270px;
    // text-align: left;
    // padding-left: 20px;
  }
  .pre_point {
    width: 76px;
  }
  .pre_score {
    width: 76px;
  }
  .court {
    width: 37px;
  }
  .number {
    width: 35px;
  }
  .mid_point {
    width: 76px;
  }
  .mid_score {
    width: 76px;
  }
  .mid_court {
    width: 37px;
  }
  .mid_number {
    width: 35px;
  }
  .sum_point {
    width: 76px;
  }
  .sum_score {
    width: 76px;
  }

  // &:after {
  //   position: absolute;
  //   top: calc(50% - 5px);
  //   right: 8px;
  //   content: '';
  //   display: block;
  //   width: 8px;
  //   height: 8px;
  //   border-top: 2px solid #ccc;
  //   border-right: 2px solid #ccc;
  //   transform: rotate(135deg);
  //   transition: .3s ease;
  // }

  // &.active:after {
  //   border-color: #666;
  // }

  // &.active.asc:after {
  //   top: calc(50% - 3px);
  //   transform: rotate(315deg);
  // }

  // &.active.desc:after {
  //   top: calc(50% - 5px);
  //   transform: rotate(135deg);
  // }
}