.Index {
  display: block;
  &Container {
    width: 90%;
    width: 1040px;
    margin: 0 auto 56px 80px;
    padding-top: 8px;
    .IndexContent {
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .NavList {
          line-height: 24px;
          list-style: none;
          margin-left: 40px;
          &__item {
            padding: 0;
            list-style: none;
            display: inline-block;
            a {
              background: $SecondaryColor;
              // border-radius: 30px;
              font-size: 12px;
              width: 80px;
              height: 40px;
              line-height: 39px;
              text-align: center;
              color: #fff;
              border: 1px solid $SecondaryColor;
              margin: 8px 0;
              box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 20%);
              &:hover {
                background-color: #ffffff;
                color: $SecondaryColor;
                transition: all 0.3s ease;
              }
              
            }
            .Match {
              width: 147px;
              margin-right: 126px;
              text-align: center;
            }
            .Midway {
              width: 146px;
              text-align: center;
              margin-right: 294px;
            }
            .Add {
              width: 150px;
              text-align: right;
              margin-left: 40px;
            }
          }
        }
      }
    }
    .IndexTable {
      &__head {
        display: flex;
        background-color: $PrimaryColor;
        border-radius: 10px 10px 0 0;
        height: 50px;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        font-size: 14px;
        border-bottom: 4px solid $BackColor;
        margin-bottom: 2px;
        .id {
          width: 72px;
          text-align: center;
          margin: auto 0;
        }
        .name {
          margin: auto auto auto 0;
        }
        .point {
          width: 72px;
          text-align: center;
          overflow-wrap: normal;
          margin: auto 0;
        }
        .score {
          width: 72px;
          text-align: center;
          margin: auto 0;
        }
        .court {
          width: 72px;
          text-align: center;
          margin: auto 56px auto 0;
        }
        .sum {
          width: 72px;
          text-align: center;
          overflow-wrap: normal;
          margin: auto 0;
        }
        .rank {
          width: 56px;
          text-align: center;
          margin: auto 0;
        }
      }
      &__body {
        background-color: #ffffff;
        li {
          height: 40px;
          border-bottom: 4px solid $BackColor;
          border-top: none;
          display: flex;
          align-items: center;
          .ItemData {
            display: flex;
            width: 100%;
            .FlexLeft {
              display: flex;
              justify-content: flex-start;
              .id {
                font-size: 16px;
                color: $FontColor;
                width: 72px;
                text-align: center;
                margin: auto;
              }
              .name {
                font-size: 14px;
                font-weight: 500;
                color: $FontColor;
                margin: auto auto auto 0;
                text-align: center;

              }
            }
            .FlexRight {
              display: flex;
              justify-content: flex-end;
              margin-left: auto;
              select {
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 0 12px;
                margin-left: 1px;
                // border: none;
                text-align-last:right;
                outline: none;
                // appearance: none;
                .court {
                  font-size: 14px;
                  font-weight: 500;
                  color: $FontColor;
                  width: 36px;
                  font-weight: 600;
                  margin: auto;
                  text-align: center;
                  height: 36px;
                  line-height: 40px;
                  background: $ChangeColor;
                }
                .number {
                  font-size: 14px;
                  font-weight: 500;
                  color: $FontColor;
                  width: 36px;
                  font-weight: 600;
                  margin: auto;
                  text-align: center;
                  height: 36px;
                  line-height: 40px;
                  background: $ChangeColor;
                }
              }
              .point {
                font-size: 14px;
                font-weight: 500;
                width: 72px;
                font-weight: 600;
                height: 36px;
                line-height: 40px;
                background: $ChangeColor;
                margin: auto;
                text-align: center;
              }
              .score {
                font-size: 14px;
                font-weight: 500;
                color: $FontColor;
                width: 72px;
                font-weight: 600;
                height: 36px;
                line-height: 40px;
                background: $ChangeColor;
                margin: auto;
                text-align: center;
              }
              .edit {
                font-size: 14px;
                font-weight: 500;
                color: $FontColor;
                width: 56px;
                margin-right: 0;
                text-align: center;
                margin: auto;

              }
              form {
                margin: auto;
                display: block;
                // width: 56px;
                text-align: center;
                input {
                  font-size: 16px;
                  color: #bac6d3;
                  cursor: pointer;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  padding: 0;
                  border: none;
                  outline: none;
                  background: transparent;
                  &:hover {
                    color: #ff7f8c;
                    transition: all 0.3s ease;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}