.Pre {
  &Container {
    width: 90%;
    width: 1040px;
    margin: 0 auto 200px 80px;
    .PreHeader {
      margin: 0 0 12px;
      h1 {
        font-size: 24px;
      }
    }
    .PreMain {
      .Table {
        td {
          border: 1px solid $BackColor;
        }
        th {
          border: 1px solid $BackColor;
        }
        &Title {
          background-color: $PrimaryColor;
          color: white;
          font-size: 16px;
          &__number {
            width: 80px;
          }
          &__team {
            width: 320px;
          }
         
          &__referee {
            width: 240px;
          }
        }
        &Content {
          color: $FontColor;
          background-color: #fff;
          font-size: 16px;
          
          &__number {
            width: 80px;
          }
          &__teamA {
            width: 320px;
            font-size: 24px;
            text-align: center;
          }
          &__flex {
            // display: flex;
            width: 400px;
            padding: 0 5px;
            .TableContent__count {
              display: flex;
              button {
                background-color: #5dc3d0;
                border-radius: 15px;
                font-size: 12px;
                width: 24px;
                height: 34px;
                line-height: 1px;
                text-align: center;
                color: rgb(82, 142, 150);
                border: none;
                margin: auto 3px;
                // overflow: hidden;
                box-shadow: inset 0px 0px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
                font-weight: bold;
                border-bottom: solid 3px #549fa9;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
                transition: .4s;
                cursor: pointer;
                &:active {
                  -webkit-transform: translateY(1px);
                  transform: translateY(1px);
                  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
                  border-bottom: none;
                }
              }
              .CountPoint {
                font-size: 32px;
                margin: auto;
                width: 80px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
              }
              .UnderLine {
                font-size: 32px;
                margin: auto;
              }
            }
          }
          &__teamB {
            width: 320px;
            font-size: 24px;
            text-align: center;
          }
          &__referee {
            width: 240px;
            text-align: center;
          }
        }
      }
    }
  }
}